.video-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); /* Responsive columns */
    gap: 16px; /* Space between grid items */
    justify-items: center; /* Center items horizontally */
    margin: 20px; /* Margin around the container */
  }
  
  .youtube-player {
    width: 100%; /* Ensure the player takes the full width of the grid item */
    height: 200px; /* Set a fixed height for the video player */
    border-radius: 8px; /* Optional: rounded corners */
    overflow: hidden; /* Ensure any overflow is hidden */
    border-radius: 8px;
    transition: height 0.3s;
  }

  .youtube-player.active-video {
    height: 400px; /* Increase height when active */
  }
  
.show-more {
    margin-top: 10px;
  }

.similar-games-container {
    display: flex;
    overflow-x: auto; 
    white-space: nowrap; 
    padding: 10px; 
}

.similar-game {
    min-width: 150px; 
    max-width: 150px; 
    margin-right: 10px; 
    text-align: center; 
    overflow: hidden; 
}

.similar-game img {
    max-width: 100%;
    height: auto; 
    cursor: pointer;
}
/* .similar-game p {
    margin: 0;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 100%; 
    box-sizing: border-box;
} */

.card-title {
    margin: 0;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis; 
    display: block;
    max-width: 100%; 
    box-sizing: border-box;
}

.card-text {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: block; 
    max-width: 100%;
    box-sizing: border-box;
}
.current-img {
    width: 300px;
    height: auto; 
}
